<form method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Từ khóa</label>
    <input name="a" class="form-control" >
    <input name="q" class="form-control" >

    <select name="gender" id="" class="form-control">
        <option value="">--Chọn giới tính--</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>